In [2]:
import numpy as np
import pandas as pd
from scipy import stats
import json

In [52]:
customers = pd.read_csv('olist_customers_dataset.csv')
#geo = pd.read_csv('olist_geolocation_dataset.csv')
item = pd.read_csv('olist_order_items_dataset.csv')
payments = pd.read_csv('olist_order_payments_dataset.csv')
#review = pd.read_csv('olist_order_reviews_dataset.csv')
order = pd.read_csv('olist_orders_dataset.csv')
seller = pd.read_csv('olist_sellers_dataset.csv')
product = pd.read_csv('olist_products_dataset.csv')
translation = pd.read_csv('product_category_name_translation.csv')

product_eng = pd.merge(product, translation, on="product_category_name").drop("product_category_name", axis = 1)
product_eng.insert(1, "product_category_name_english", product_eng.pop("product_category_name_english"))

#DataList = [customers, geo, item, payments, order, seller, product_eng]
#for i in DataList:
    #print (i.isnull().sum())
olist = pd.merge(pd.merge(pd.merge(item, payments, on = "order_id"),
                            order, on = "order_id"), 
                 product_eng, on = "product_id")
olist = pd.merge(pd.merge(olist, customers, on = "customer_id"), seller, on = "seller_id")
olist.to_csv('olist.csv', index = None)

In [53]:
product.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [54]:
translation.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [55]:
product_eng.head()

,product_id,product_category_name_english,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumery,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,6a2fb4dd53d2cdb88e0432f1284a004c,perfumery,39.0,346.0,2.0,400.0,27.0,5.0,20.0
2,0d009643171aee696f4733340bc2fdd0,perfumery,52.0,150.0,1.0,422.0,21.0,16.0,18.0
3,b1eae565a61935e0011ee7682fef9dc9,perfumery,49.0,460.0,2.0,267.0,17.0,13.0,17.0
4,8da90b37f0fb171b4877c124f965b1f6,perfumery,56.0,733.0,3.0,377.0,18.0,13.0,15.0